@font-face {
   font-family: 'MavenPro-Regular';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-09-14_113818/fonts/MavenPro-Regular/font.ttf');
}
